flask~=2.3.3
SQLAlchemy~=2.0.21
alembic~=1.12.0
marshmallow~=3.20.1
requests~=2.31.0
anyconfig~=0.13.0
boto3~=1.28.62
numpy~=1.26.0
scipy~=1.11.3
PyJWT~=2.8.0
librosa~=0.10.1
werkzeug~=3.0.0
pydub~=0.25.1